<!DOCTYPE html>
<html>
<head>
  <title>Using Angular for AJAX</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="app.css">
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="angular-route.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text" src="home.html"></script>
  <script type="text/javascript" src="routes.js"></script>


</head>
<body ng-app="weatherApp">
<div class="container-fluid header text-center">
  <h3>Weather Forecast App</h3>
</div>

<div class= "row" ng-controller="cricketController">
  <a href="" class = "btn btn-primary" ng-click="getMatch()">Get Cricket Matches</a>
  
  
  <div class="col-md-6 col-md-offset-3"  id="results">
    <div class = "alert alert-info" ng-show = "scores!=null">
          <p>{{scores["innings-requirement"]}}</p>
               {{scores.score}} 
     </div>
    
    <table class="table-striped" ng-show = "results!=null">
      <thead>
        <tr>
          <th>Match</th>         
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat = "result in results">
          <td>
            <a href="" ng-click="getScore(result.unique_id)">
              {{result.title}}
            </a>            
          </td>          
        </tr>        
      </tbody>      
    </table> 
  </div>  
  
</div>

<div class="row" ng-controller="mainController">
  <div class="alert alert-danger" ng-show="errorMessage">
    {{errorMessage}}
  </div>
  <div class="col-md-6 col-md-offset-3">
    <h4>Weather by City</h4>
    <div class="form-group">
      <input type="text" class="form-control" id="input1" ng-model="cityName"/>
      <p>{{cityName}}</p>
    </div>
    <h3 id="textInfo"></h3>
  </div>
  <div>AbsoluteURL = {{path}}</div>
  <a href="#/current" class="btn btn-primary" id="current" >Get Current weather</a>
  <a href="#/forecast" class="btn btn-primary" id="forecast">Get Forecast</a>
  <div ng-view></div> 
  
</div> 


</body>
</html>